altgraph==0.17
auto-py-to-exe==2.7.3
bottle==0.12.18
bottle-websocket==0.2.9
cached-property==1.5.1
cffi==1.14.0
chirptext==0.1a18
Eel==0.11.0
frozendict==1.2
future==0.18.2
genanki==0.8.0
gevent==20.5.2
gevent-websocket==0.10.1
greenlet==0.4.15
jamdict==0.1a6
Janome==0.3.10
lxml==4.5.1
pefile==2019.4.18
Pillow==7.1.2
puchikarui==0.1a3
pycparser==2.20
PyInstaller==3.6
pystache==0.5.4
pywin32-ctypes==0.2.0
PyYAML==5.3.1
ttkthemes==3.0.0
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0
