altgraph==0.17
auto-py-to-exe==2.7.3
bleach==3.1.5
bottle==0.12.18
bottle-websocket==0.2.9
cached-property==1.5.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
chirptext==0.1a19
docutils==0.16
Eel==0.11.0
frozendict==1.2
future==0.18.2
genanki==0.8.0
gevent==20.5.2
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
importlib-metadata==1.6.0
jamdict==0.1a6
Janome==0.3.10
keyring==21.2.1
lxml==4.5.1
packaging==20.4
pefile==2019.4.18
Pillow==7.1.2
pkginfo==1.5.0.1
puchikarui==0.1a3
pycparser==2.20
Pygments==2.6.1
PyInstaller==3.6
pyparsing==2.4.7
pystache==0.5.4
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.15.0
tqdm==4.46.0
ttkthemes==3.0.0
twine==3.1.1
urllib3==1.25.9
webencodings==0.5.1
whichcraft==0.6.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
